.DS_Store
*.png
*_tableau.csv
*.prt
*.xlsx
includes_global/all_costs_emissions/*.inc
includes_global/cost_emissions*.inc
*.numbers
*.ilp
*__pycache__*
all_results_df.csv
all_reports
navs
*_df.csv
data/vessel_ranges.csv
data/NavigaTE_CAPEX_OPEX.csv
all_outputs_full_fleet*
processed_results*
*.lp
*.ilp
*.log