.DS_Store
*.png
*_tableau.csv
*.prt
*.xlsx
includes_global/all_costs_emissions/*.inc
includes_global/*blue.inc
includes_global/*electro.inc
includes_global/*grey.inc
*.numbers
*.ilp
*__pycache__*
all_results_df.csv